
.profile{
  height: 500px;
  display: grid;
  width:100%;
  background-color: #e68a19;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  position: relative;

  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
  ". . ."
  ". ava ."
  ". name .";
  justify-content: center;
}
.ava{
  z-index: 2;
  margin-top: 110px;
  grid-area: ava;

}
.name{
  z-index: 3;
  justify-self: center;
  align-self: flex-start;
  grid-area: name;
}
