nav {
  font-family: Bungee, sans-serif; /*degrades to sans-serif if Bungee not available*/
  background-color: #4056a1;
  color: #ffffff;
}

.outer {
  display: flex;
  width: 100vw;
  flex-direction: column;
  height: 120px;
  justify-content: space-between;
  flex-direction: row;
  position: fixed;
  z-index: 9;
}

.left {
  display: flex;
  align-self: center;
  margin-left: 1.5em;
  font-size: 150%;
}

.Right {
  display: flex;
  align-self: center;
  margin-right: 1.5em;
  flex-direction: column;
}
.right {
  display: flex;
  font-family: Source Sans Pro, sans-serif;
}
.bold {
  display: flex;
  font-weight: bold;
}
.arrow {
  align-self: center;
  color: red;
}
